/* Copyright 2016, 2019 Openworx.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */


$gray-darker: lighten($gray-base, 13.5%);
$gray-lighter: lighten($gray-base, 93.5%);


$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);
