<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">
    <t t-extend="ControlPanel">
        <t t-jquery="div.o_control_panel" t-operation="replace">
            <div class="o_control_panel">
                <ol class="breadcrumb"/>
                <div class="o_cp_searchview"/>
                <div style="width:100%;">
                    <div class="o_cp_left pull-left">
                        <div class="o_cp_buttons"/>
                        <div class="o_cp_sidebar"/>
                    </div>
                    <div class="o_cp_right pull-right">
                        <div class="btn-group o_search_options"/>
                        <div class="o_cp_pager"/>
                        <div class="btn-group btn-group-sm o_cp_switch_buttons"/>
                    </div>
                </div>
            </div>
        </t>
    </t>

    <t t-extend="FormView.buttons">
        <t t-jquery="button.o_form_button_edit" t-operation="replace">
            <button t-if="widget.is_action_enabled('edit')" type="button" class="btn btn-primary btn-sm o_form_button_edit" accesskey="a">
                <div class="fa fa-lg fa-pencil o_button_icon"></div>
                <span class="hidden-md hidden-sm hidden-xs">Edit</span>
            </button>
        </t>
        <t t-jquery="button.o_form_button_create" t-operation="replace">
            <button t-if="widget.is_action_enabled('create')" type="button" class="btn btn-primary btn-sm o_form_button_create" accesskey="c">
                <div class="fa fa-lg fa-plus o_button_icon"></div>
                <span class="hidden-md hidden-sm hidden-xs">Create</span>
            </button>
        </t>
        <t t-jquery="button.o_form_button_save" t-operation="replace">
            <button type="button" class="btn btn-primary btn-sm o_form_button_save" accesskey="s">
                <div class="fa fa-lg fa-save o_button_icon"></div>
                <span class="hidden-md hidden-sm hidden-xs">Save</span>
            </button>
        </t>
        <t t-jquery="button.o_form_button_cancel" t-operation="replace">
            <button type="button" class="btn btn-primary btn-sm o_form_button_cancel" accesskey="j">
                <div class="fa fa-lg fa-times o_button_icon"></div>
                <span class="hidden-md hidden-sm hidden-xs">Cancel</span>
            </button>
        </t>
    </t>
    <t t-extend="KanbanView.buttons">
        <t t-jquery="button.o-kanban-button-new" t-operation="replace">
            <button type="button" class="btn btn-primary btn-sm o-kanban-button-new" accesskey="c">
                <div class="fa fa-lg fa-plus o_button_icon"></div>
                <span class="hidden-md hidden-sm hidden-xs"><t t-esc="widget.options.create_text || _t('Create')"/></span>
            </button>
        </t>
    </t>
    <t t-extend="ImportView.import_button">
        <t t-jquery="button" t-operation="replace">
            <button t-if='widget.options.import_enabled' type="button" class="btn btn-sm btn-default o_button_import">
                <div class="fa fa-lg fa-cloud-upload o_button_icon"></div>
                <span class="hidden-md hidden-sm hidden-xs">Import</span>
            </button>
        </t>
    </t>
    <div t-extend="SearchView.FilterMenu">
        <t t-jquery="button.dropdown-toggle" t-operation="replace">
            <button class="o_dropdown_toggler_btn btn btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-filter"/><span class="hidden-md hidden-sm hidden-xs"> Filters </span><span class="caret"/>
            </button>
        </t>
    </div>
    <div t-extend="SearchView.FavoriteMenu">
        <t t-jquery="button.dropdown-toggle" t-operation="replace">
            <button class="o_dropdown_toggler_btn btn btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-star"/><span class="hidden-md hidden-sm hidden-xs">  Favorites </span><span class="caret"/>
            </button>
        </t>
    </div>
    <t t-extend="ListView.buttons">
        <t t-jquery="t" t-operation="replace">
            <t t-if="!widget.no_leaf and widget.options.action_buttons !== false">
                <div class="o_list_buttons test">
                    <t t-if="widget.options.addable and widget.is_action_enabled('create')">
                        <button type="button" class="btn btn-primary btn-sm o_list_button_add" accesskey="c">
                            <div class="fa fa-lg fa-plus o_button_icon"></div>
                            <span class="hidden-md hidden-sm hidden-xs"><t t-esc="widget.options.addable"/></span>
                        </button>
                    </t>
                    <button type="button" class="btn btn-primary btn-sm o_list_button_save" accesskey="s">
                        <div class="fa fa-lg fa-save o_button_icon"></div>
                        <span class="hidden-md hidden-sm hidden-xs">Save</span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm o_list_button_discard" accesskey="j">
                        <div class="fa fa-lg fa-times o_button_icon"></div>
                        <span class="hidden-md hidden-sm hidden-xs">Discard</span>
                    </button>
                </div>
            </t>
        </t>
    </t>
    <t t-extend="Sidebar">
        <t t-jquery="button.o_dropdown_toggler_btn" t-operation="replace">
            <button t-if="section.name != 'buttons'" class="o_dropdown_toggler_btn btn btn-sm dropdown-toggle" data-toggle="dropdown">
                <t t-if="section.name == 'files'" t-raw="widget.items[section.name].length || ''"/>
                <div t-if="section.name == 'files'" class="fa fa-lg fa-files-o o_button_icon hidden-lg hidden-md"></div>
                <div t-if="section.name == 'other'" class="fa fa-lg fa-hand-o-right o_button_icon hidden-lg hidden-md"></div>
                <div class="hidden-sm hidden-xs pull-right"><t t-esc="section.label"/> <span class="caret"/></div>
            </button>
        </t>
    </t>
</templates>